[2016-02-08 18:34] gamaanderson commented on #118
here are new and updated tutorials:
SelectRegion: https://www.youtube.com/watch?v=Hcz2YtpXBdM
ManualUnfold: https://www.youtube.com/watch?v=B_BmYV7GdCA
ManualFilter: https://www.youtube.com/watch?v=VXUZBiA3HfU
ExtractPoints: https://www.youtube.com/watch?v=iWBFSN6Thbw
Linking SelectRegion: https://www.youtube.com/watch?v=cd4_OBJ6HnA
Opening: https://www.youtube.com/watch?v=eoF7tZu39JA

suggestion

[2016-02-09 15:24] nguy commented on #127
Nice, that provide some good help I think.

[2016-02-09 15:27] nguy commented on #129
+1 for the list!

The one thing I think could wait is the select region stuff. This could be a sub version of 1.2 in my opinion.

[2016-02-09 20:30] PennyQ commented on #107
Anything new about the lasso tool or region selection? I would like to use it on selecting a bunch of point clusters but I couldn't find any code/examples from Vispy to start. Is there any resources for me to try even the 2D lasso first? Many thanks!

[2016-02-09 22:11] gamaanderson commented on #129
if you mean the SelectRegion_dev, this was kind of a question on you. But I would like to know why; what is missing in the dev version?

[2016-02-09 22:16] gamaanderson commented on #107
we are working on that, but a easy way to show what we already have is this videos:
SelectRegion: https://www.youtube.com/watch?v=Hcz2YtpXBdM
and also this ones may be interesting
ExtractPoints: https://www.youtube.com/watch?v=iWBFSN6Thbw
ManualUnfold: https://www.youtube.com/watch?v=B_BmYV7GdCA
ManualFilter: https://www.youtube.com/watch?v=VXUZBiA3HfU

[2016-02-10 16:55] PennyQ commented on #107
It looks great! Is this an open source tool that I would like to have a try. Do you use the 'point in polygon' solution to identify the selected region within or outside the lasso? Or you have better ideas in this tool?

[2016-02-10 17:48] gamaanderson commented on #107
yes, this is a open source project.

we define the lasso as a Matplotlib path object and then for every data point we test if it is inside with the [path.contains_point](http://matplotlib.org/api/path_api.html#matplotlib.path.Path.contains_point) method

[2016-02-10 19:41] nguy commented on #129
Honestly I haven't looked at it in a while. Let me take a look and get back to you.

[2016-02-19 20:44] nguy commented on #129
@jjhelmus When we get this further along, could you help us build a conda package?

[2016-02-19 21:03] nguy commented on #118
I think these are a great start and helpful. Thanks for making and linking them.

[2016-02-19 21:04] nguy opened #130 "Menu window"
I notice on my machine, sometimes the menu window gets lost. For most people this won't be a big issue, but we may want to consider if there is a way to bring the window to the front somehow. A menu link or something?

[2016-02-19 21:31] gamaanderson commented on #118
In this case, I will add them to the help!

[2016-02-19 21:53] gamaanderson commented on #130
This is a real problem, and it is also a problem in one of my inspirations (GIMP). I have to see how they are working that out.

[2016-02-19 23:30] nguy commented on #130
Potentially this? http://pyqt.sourceforge.net/Docs/PyQt4/qwidget.html#raise

[2016-02-22 14:55] jjhelmus commented on #129
I'd be happy to help get a conda package built for ARTView, just ping me when you make or are about to make the release and I can start testing out some recipes.

[2016-02-22 15:16] nguy commented on #129
Thanks! It should be pretty soon.

[2016-02-22 15:18] jjhelmus commented on #129
Great, I'm traveling this week so might not be as prompt, but I'll keep an eye out.

[2016-02-22 15:18] nguy commented on #129
@gamaanderson What do you propose for the select region? I would like to keep the display functionality, but agree that having two separate methods will become problematic.

[2016-02-22 19:40] gamaanderson commented on #129
what funcionalities of do you like to mantain,  that you cannot do in one way or the other in with the new version? I think they are all there.

[2016-02-22 19:41] gamaanderson commented on #129
@jjhelmus what would be the install instruction once the conda package is made?

[2016-02-22 20:17] jjhelmus commented on #129
Run `conda install -c jjhelmus artview`.  The jjhelmus part could be replaced with another conda "channel", that has just need where I've been putting the packages I've built.

[2016-02-22 23:37] nguy commented on #129
I believe the functionality is there, I meant that I'd like to maintain the setup from the Display as it is for now in terms of easily plotting histogram, bringing up table, applying a mask, etc. The newer select region is more modular probably and therefore in the long run more flexible. I just want to make sure we don't lose functionality for the user.

[2016-02-22 23:40] nguy commented on #129
This sort of goes back to a way back discussion I had with @scollis about open source radar or meteorology having a channel on conda. Would this be something to explore?

[2016-02-22 23:45] scollis commented on #129
@jjhelmus is the Guru here.. But yes.. this would be a great idea..

Nick wrote:

[2016-02-23 07:26] gamaanderson commented on #129
@nguy since the code is already there, I have no problem to let the current SelectRegion accessible through the display. But it will become a part of display and lose its status as a components, therefore not accessible through the artview module or any mode.

[2016-02-23 15:48] nguy commented on #129
I know it's a balance, but I feel that this is a tool for quick data querying. Let's keep it for the time being, with the thought of any other tools developed should use the newer version. Do you think it wise to rename the code to indicate that it is display-based and not a component?

For example, we could rename the class from ```SelectRegion``` to ```DisplaySelectRegion``` or something and hav

[2016-02-23 22:14] gamaanderson commented on #129
ok, I will rename it.

[2016-02-23 23:08] nguy commented on #129
Thanks @gamaanderson. Could you also replace the the contact in the README file to the user forum email?

[2016-02-24 23:23] nguy commented on #129
We can probably close some of the outstanding Issues that have been addressed as well. Let me know if you want me to do any of this.

[2016-02-25 09:13] gamaanderson commented on #61
I end up not changing `VpathInteriorFunc`, I don't want to make it any longer that it already is, and `VpathInteriorFunction` don't really help much.

[2016-02-25 09:13] #61 closed

[2016-02-25 09:13] #127 closed

[2016-02-25 09:14] #118 closed

[2016-02-25 09:17] gamaanderson commented on #124
This was done in commit 7b3610923ffb41a0d40c73573cb559b6f99dc31b.
please close the issue!

[2016-02-25 15:17] nguy commented on #124
Done!

[2016-02-25 15:17] #124 closed

[2016-02-26 15:26] nguy commented on #129
Okay, it appears that rebuilding docs and rolling version are the two parts that are left. I'll do that today and submit a PR.

At this point we should probably then build the conda package and go forward with the release. If we manage to get this sorted, it would be fun to release on Monday since it's a leap year!

[2016-02-26 16:31] nguy commented on #129
Ended up pushing the new docs and rolling the rev directly into the master.

@jjhelmus Can we get started with the conda release if you have time?

[2016-02-26 19:53] nguy commented on #130
I tried the above with no luck (possibly due to my use of MacOS). Seems to be an outstanding problem and after a bit of web searching it looks to be OS dependent as well.

[2016-02-26 20:20] gamaanderson commented on #129
Do you think we should do a "what new" in relation to the latest release? It is so much, that I have my doubts if it makes sense.

[2016-02-26 21:02] nguy commented on #129
I think that's a great idea. We could put this in the README maybe. Then I was going to post that What's New and announcement in the Users forum and the pyaos mailing list.

[2016-02-26 22:28] gamaanderson commented on #129
The README is already too long!

[2016-02-26 22:49] nguy commented on #129
Ha, that is true! We should probably move some of this to the Documentation.

[2016-02-29 20:02] jjhelmus commented on #129
@nguy I'll start working on the artview conda build this week.  I'll keep you all updated if I run into any question.

[2016-02-29 21:23] nguy commented on #129
Thanks!

[2016-02-29 21:26] nguy opened #133 "Testing"
Add testing capabilities for future releases.

[2016-03-01 00:14] pfhein opened #134 "File Naviagator broke in version 1.2.3"
`File navigator` is broken in version 1.2.3.  When I click on `File navigator`, this error occurs and no window is opened.
[code]
If I click on `File navigator` again, I do not get an error message but there is still no window.  I do get
[code]
Which I suspect is good.

[2016-03-01 00:30] pfhein commented on #134
PS My ARTview Tour has been updated.
http://radarmet.atmos.colostate.edu/software/artview/

[2016-03-01 16:47] nguy commented on #134
@pfhein thanks for the heads up. I just pushed the fix. Some accidental deletion in there it would seem.

Could you pull the latest and test. I added a line that may help to bring the the menu to the forefront on some systems. It does not work on my Mac, but would be good to test on other OS.

[2016-03-01 16:49] nguy commented on #134
Awesome update on the ARTview tour @pfhein

[2016-03-01 16:50] nguy commented on #130
Added the ```raise_()``` method to the menu component. And to test on FileNavigator. On my mac I see it momentarily come to the foreground, but then become buried again.

[2016-03-01 16:54] nguy commented on #129
@jjhelmus I just pushed a minor update. I don't think this affects the conda build, but just in case....

[2016-03-01 16:55] nguy commented on #53
I think this thread has become outdated now. Shall we close?

[2016-03-01 17:13] pfhein commented on #134
`File navigator` is working now.  The Menu Window is still comes up behind the Display Windows under Scientific Linux 6.

[2016-03-01 17:26] nguy commented on #134
Thanks, I'll keep an eye out for a solution, but I don't have high confidence at the moment.

[2016-03-01 17:27] #134 closed

[2016-03-02 10:39] gamaanderson commented on #53
Yes, this is pretty outdated and if I want to re-see this list I can still look in the closed issues.
Clossing.

[2016-03-02 10:39] #53 closed

[2016-03-02 10:41] gamaanderson commented on #129
yes, it does afect. If the conda package is build from the old code then the tool would continue broken.

[2016-03-02 10:46] gamaanderson commented on #133
This have crossed my mind some times, but I don't see how this can be automatised since unlike pyart this is a grafic tool. We do have an API that could help on that, but we would need to start paying more attetion to it then we are doing now, and of course attention is a limited resource.
@jjhelmus you do spend a lot time creating the automatic tests, don't you?

[2016-03-02 17:29] jjhelmus commented on #133
Writing and maintaining tests does take time initial but I think in the long run it saves time by reducing the number of bugs and time spent tracking these down.

[2016-03-02 18:48] jjhelmus commented on #129
I created test artview conda packages from the ae1331f56 commit which I labeled as "1.2.3".  These are available on my [Anaconda.org channel](https://anaconda.org/jjhelmus/artview) with the label "testing".

If you use `git tag` to [tag a release](https://git-scm.com/book/en/v2/Git-Basics-Tagging) it will be easier to create the conda package for 1.2.  Just let me know the tag/commit that should b

[2016-03-02 19:40] gamaanderson commented on #129
Thank you a lot @jjhelmus

@nguy PR #132 can be merged. I would also like to call attention to the `ISRELEASED` flag in **setup.py** line 57, in case you haven't already seen it.

[2016-03-02 19:46] nguy commented on #133
Well I'll admit this is a weak spot for me. I have not formulated exactly how to test. But it occurred to me again when looking through Py-ART recently. I also want to make sure we have a relatively stable core before implementing testing.

[2016-03-02 19:58] nguy commented on #129
I want to make sure I follow what to do here.

1. I can merge #132 (with the ISRELEASED flag turned on - thanks @gamaanderson I did not see this.)
2. Apply the tag to it with something like conda release as description.
3. Do I need to do a formal release via Github also?
4. After all of this the "real" artview conda package will be released.

[2016-03-02 20:04] nguy commented on #129
Or do I need to just do step 2 and the rest can come afterward. Sorry, try to figure out the workflow here.

[2016-03-02 20:45] jjhelmus commented on #129
You can do steps 3 and 4 anytime after after you change ISRELEASED to True and tag the release, there is no immediacy.  Setting ISRELEASE to True indicates that commit corresponds to the "official" release version and tagging makes it easier to find rather than having to use the commit hash.  It is good to make a second commit immediately after to flip ISRELEASED back to False and roll the version

[2016-03-02 21:10] nguy commented on #129
Thanks @jjhelmus for walking us through this!

Okay the tag is done.

[2016-03-02 21:19] nguy commented on #129
The method for Py-ART seems to be a good one to follow. @gamaanderson any thoughts?
This would give us a benchmark for development.

[2016-03-02 21:20] jjhelmus commented on #129
FYI, `git push` doesn't push tags by default, you need to use `git push --tags`.

[2016-03-02 21:22] nguy commented on #129
done, thanks

[2016-03-02 21:24] nguy commented on #129
FYI, this will close Issue #105 I believe.

Also, @jjhelmus would you be willing to help with future conda releases? If so, we should ping you when appropriate?

[2016-03-02 21:27] jjhelmus commented on #129
Happy to.  I'll set up the system for building the conda package on [conda-forge](https://conda-forge.github.io/) so that anyone can make a release by submitting a pull request.

[2016-03-02 21:27] nguy commented on #97
I'd like to close this issue and refer later if needed. It will see full implementation with the 1.2 release and any bugs can be listed in new Issues.

[2016-03-02 21:28] nguy commented on #129
Great! You'll probably need to lead me through that as well eventually.

[2016-03-02 21:29] nguy commented on #129
We should sit and chat at SEA conference to discuss parallel developments.

[2016-03-02 21:31] nguy commented on #95
I think this has also been addressed and can be closed now?

[2016-03-02 21:33] jjhelmus commented on #129
Sounds like a plan.

[2016-03-02 21:34] gamaanderson commented on #97
i'm ok with closing

[2016-03-02 21:35] gamaanderson commented on #95
ok, lets close

[2016-03-02 21:36] gamaanderson commented on #129
I have always been in favor of following pyart example when applicable.

[2016-03-02 22:01] #95 closed

[2016-03-02 22:02] #97 closed

[2016-03-02 22:02] nguy commented on #129
Me too, let @jjhelmus do the hard work. ;p

[2016-03-02 22:04] nguy commented on #129
Okay back on topic, do we need anything else for the conda package then?

[2016-03-02 22:05] jjhelmus commented on #129
A full suite of conda packages for artview 1.2 made and available on [Anaconda.org](https://anaconda.org/jjhelmus/artview/files).  I need to fix a few items on conda-forge before moving the build there.

[2016-03-02 22:34] nguy commented on #129
Excellent, thank you again and let us know anything else we can do to help.

[2016-03-07 15:29] jjhelmus commented on #129
I created a [conda-forge feedstock for artview](https://github.com/conda-forge/artview-feedstock/) which allows for reproducible builds of the conda package using online CI services.  Anyone can submit a pull request that repository when updates are needed.  The command to install the packages produced by this setup is `conda install -c https://conda.anaconda.org/conda-forge artview`.  I prefer th

[2016-03-08 22:00] nguy commented on #129
The official V1.2 release is in the wild!

[2016-03-09 16:23] nguy commented on #129
Realized I forgot to do the ISRELEASED. So pushed this as REL commit and updated the Release tag.
Then pushed a v1.3dev commit afterwards.

[2016-03-10 22:48] gamaanderson commented on #129
Can this be closed?

[2016-03-10 22:54] gamaanderson opened #135 "Discussion: version 1.3"
After a release it is always go to re-think a little about what we want from the new version.

[2016-03-10 23:09] nguy commented on #129
Yep

[2016-03-10 23:16] nguy commented on #135
Here's a list I'm thinking of (not complete or maybe feasible):
[ ] Add text to plots for image creation
[ ] Collection of files - either something like discussed in Py-ART [issue #435](https://github.com/ARM-DOE/pyart/issues/435) or something internal to ARTview. I still think this would be most useful in Py-ART. But we'll need to think about the interface  in ARTview regardless.
[ ] See about fi

[2016-03-10 23:18] nguy commented on #135
Do we need to rethink the documentation? Maybe save it into the gh-pages branch? Is that a good method?

[2016-03-10 23:36] #129 closed

[2016-03-11 16:24] nguy commented on #135
I completely agree. I want to keep updating the documentation. I see modifying this as a long run and maybe we could set out specific parts for future releases.

[2016-03-14 15:33] gamaanderson commented on #130
@nguy as this is system dependent, could you make a video showing this problem in your system? I think I know what you mean, but I would like to be sure that your experence is the same as mine.

[2016-03-14 15:42] gamaanderson commented on #135
I just update the list with some thing of issue #107 that I know how to do

[2016-03-14 15:55] gamaanderson commented on #107
except from the "high value ring" and "vispy" this list is expected to be implemented in version 1.3.

The first one is a pyart issue, if it is implemented there we will implement it here.

The second one I still don't know where it would be usefull / how to implement

[2016-03-18 20:13] nguy commented on #130
I shared a short video in your email.

[2016-03-18 20:19] nguy commented on #107
Are you talking about simple script generation?

[2016-03-18 20:23] nguy commented on #135
Another potential addition is making use of discrete colorbar option [Py-ART #468](https://github.com/ARM-DOE/pyart/pull/468).

[2016-03-18 20:38] gamaanderson commented on #107
no, I'm talking of "Experimental Vispy plot ... "

[2016-03-18 20:39] gamaanderson commented on #135
this issue #126

[2016-03-18 20:41] nguy commented on #135
Sure is, sorry about that. Had a user request for this last week as well. So it is something desirable.

[2016-03-18 20:42] nguy commented on #107
Ah, yeah, still working on this. However, I think this is going to require the RadarCollection to become more formalized. I thought that this could be a good first test case for the RadarCollection.

[2016-03-18 20:46] gamaanderson commented on #107
I will add to the list, it shouldn't be difficult the implement, now that we have a reason.
do we already have something in this sense?
Do you need the RadarCollection to be a shared variable?

[2016-03-18 20:50] gamaanderson commented on #130
Interesting how IOS externalize the menu bar.
If you pay attention the menu does blink for a moment in the upper corner where it should be. That mean it's IOS that is interfering in the Qt work, we have to avoid that.

[2016-03-18 20:55] nguy commented on #130
Yep, you are correct. This is why I indicated that it is an OS-dependent issue. I don't know if there is a solution for this behavior.

[2016-03-18 21:00] nguy commented on #107
There is nothing thus far. My thinking lately was that this would best be implemented in Py-ART because it allows for some operability that is not present for processing as well.  Then it could be inherited in ARTview as a probably a shared variable. How to relate to Vradar instance reliably I've yet to work out.

[2016-03-18 21:09] gamaanderson commented on #130
have you seen this page "http://doc.qt.io/qt-5/osx-issues.html"?

[2016-03-18 21:18] gamaanderson commented on #130
in script
`app.setAttribute(QtCore.Qt.AA_MacPluginApplication, True)`

[2016-03-18 22:32] nguy commented on #130
Think this could be put in at startup as a check with a conditional statement identifying MacOSX?

[2016-03-19 07:54] gamaanderson commented on #130
first of all, did it work?

[2016-03-21 15:07] nguy commented on #130
Yes, this does work to put the menu on the menu window. To implement, we'd have to install an OS check. I feel like this should be automatic in the background.

The issue remains how to bring the menu window to the front for operation.

[2016-03-21 15:21] nguy commented on #130
To test and internet search returns the following code:
[code]

My guess would be that we could put a script in ```artview.core``` that returns isMac boolean. If true then the code above is run. We then just need to keep this in every script. Unless you see an easier way.

[2016-03-21 17:18] stechma2 opened #137 "Add Discrete Color Bars"
It would be useful if discrete color bars could be used (and easily created, if possible). For example, I wanted a discrete color table to visually identify possible ground contamination in tail radar sweeps. Obviously discrete color bars are desired in many other situations as well.

I used the following code to add a quick and dirty discrete color bar to the ARTview displays, though as implement

[2016-03-21 17:21] gamaanderson commented on #130
I see you already created it, but I wouldn't make such a function.

[2016-03-21 17:23] stechma2 opened #138 "Aspect Ratio Option"
If possible, it would be very useful to add an aspect ratio adjustment into the display options. In particular, I work with tail radar data primarily, and the default aspect ratio produces a very "squished" display which can be difficult to interpret.

[2016-03-21 17:26] gamaanderson commented on #130
We already have a function to start the app, in *artview/view.py* `start`. I would add the test in that function and start using it in the scripts.

[2016-03-21 17:28] gamaanderson commented on #130
also, I don't understand the test (what does darwin has to do with it?). Do you have any explanation why it works?

[2016-03-21 17:29] gamaanderson commented on #130
what do you mean with "The issue remains how to bring the menu window to the front for operation."

[2016-03-21 17:36] gamaanderson commented on #137
thank you @stechma2 for the suggestion. The is an open issue (#126) to start using a new pyart functionality.

This is however one of those things that are super easy in text mode, but trick in GUI. We need to develop a concept on how to allow the user to select the colors. May be you can us with that.

[2016-03-21 17:39] gamaanderson commented on #138
ok, that can be an easy add. Can you post one image,  so that I have an better idea on how that is showing up to you?

[2016-03-21 17:44] nguy commented on #130
This PR doesn't need to be implemented. Just a first shot.

I like the idea of having this test somewhere other than ```core.py```.

As for the test: os.name returns posix for any unix-based system, therefore a secondary test is required to see what the system platform is called. 'Darwin' is returned for the Mac unix system, 'linux' is returned for linux unix systems.

Updated PR code.

[2016-03-21 17:45] nguy commented on #130
This remaining issue is that displays still cover the menu mostly. Having the File, Modes on the Menu window helps, but it can still be buried inadvertently pretty easily. This is the part I'm not sure can be fixed easily.

[2016-03-21 17:51] gamaanderson commented on #138
but before that, have you tried "adjust display limits"? I know it is not optimal, but this should be able to unsquish your image.

[2016-03-21 17:54] gamaanderson commented on #130
ou yes, this is a difficult one. The answer to that would be imploring the tab system so we don't need separated windows.

[2016-03-21 18:59] stechma2 commented on #137
Sorry for the duplicate issue - suppose I should have read back a ways further before posting.

Anyways, I will think about this and play with it as time allows and touch base with you all if anything comes to mind that hasn't already been suggested.

[2016-03-21 19:20] stechma2 commented on #138
Here is the image with the default aspect ratio, and display limits set to incorporate the entire observable domain:
<img width="872" alt="screen shot 2016-03-21 at 2 06 19 pm" src="https://cloud.githubusercontent.com/assets/6628522/13931000/57d6087e-ef6f-11e5-96d3-97b4ffd69a41.png">
Here is the same image, with the same display limits, but with aspect ratio set to 1
(using this hard coded additio

[2016-03-21 19:21] gamaanderson commented on #137
You don't need to be sorry. It is better to say something twice than to stay quiet.

[2016-03-21 19:24] gamaanderson commented on #138
Ok, I see the difference, I will implement right away.

[2016-03-21 19:41] gamaanderson opened #139 "Airborne Warning"
use of airborne files is resulting in a lot of pyart warnings. Must update code.

[2016-03-21 20:13] gamaanderson commented on #138
I just submitted a PR for that. The aspect radio can be found in the adjust limits.

thank you again @stechma2 for helping improving ARTView.

[2016-03-21 20:19] stechma2 commented on #138
Great! Thank you for doing this @gamaanderson.

[2016-03-21 21:29] nguy commented on #130
I'm still on the fence of whether to move the displays toward tabs. You successfully did this already with the "simple plot". One advantage of this would be that ARTview might be able to be used more easily on mobile devices then...

[2016-03-21 21:34] gamaanderson commented on #130
I'm thinking of doing something similar to kate (KDE "simple" text editor). It has Tabs and at the same time the option successively divide the display horizontally or vertically, so that multiple tabs can be displayed at the same time.

[2016-03-21 21:36] nguy commented on #137
I asked @stechma2 to post a couple of issues we discussed over email so that we had some better tracking. Nice thing here is that we can easily tie the issues together through the github markdown interface.

[2016-03-21 21:38] nguy commented on #130
I'll be interested to see this. Split windows can be really nice to work with.

[2016-03-21 21:40] nguy commented on #139
Are you referring to the warnings about no correction for moving platforms?

[2016-03-21 22:07] nguy commented on #138
Tangentially, I finally figured out why the file does not come up with the default Airborne x/y ranges. The *scan_type* value of the radar variable is not recognizing these particular files as airborne. I have a workaround that I'll comment on in the PR. We'll have this out in the very near future with this fix.

[2016-03-23 03:45] nguy commented on #138
Fixed with merge of PR #140

[2016-03-23 03:45] #138 closed

[2016-03-25 19:32] nguy commented on #130
The original scope does not seem possible at this time. PR #136 takes care of menu on MacOSX now appearing in the MainMenu window.

[2016-03-25 19:32] #130 closed

[2016-03-29 18:28] bdolan44 commented on #135
I'd like to request the option to remove a region of data. Here you would draw a region polygon (much like if you are unfolding data) and have the option to delete data inside /outside the region. This is useful for removing second trip or side lobes, etc. Thanks! PS we are having the radar class use art view to unfold some velocities, so there may be a bit of feedback in the next few weeks!

[2016-03-29 20:39] gamaanderson commented on #135
thank you @bdolan44 and I'm looking forward for your feedback.

Take a look in this [tutorial](https://www.youtube.com/watch?v=VXUZBiA3HfU). You can just remove just from the inside. If desirable we can also find a way to remove from the outside.

[2016-03-29 22:10] bdolan44 commented on #135
That's perfect, thanks for the tutorial @gamaanderson!

I have a couple of other comments for now. I'm not sure if this it the right place to put them, but since I'm here, I'll just list them out.
-On my Mac when I open artview it just gives me a big black window to select the files (see attached image). I can actually double-click to open files sort of randomly and finally get into the Display 1

[2016-03-29 22:47] nguy commented on #135
@bdolan44 Did the file window show previously or has this happened only since you updated through the conda channel?

[2016-03-29 22:53] bdolan44 commented on #135
Well....artview used to work fine for me (like earlier this week) but I've been having some other issues with pyart so I updated a number of things this morning, including numpy, pyart, and artview. So I can't say for sure if it was just due to updating artview with the conda channel. :-/

[2016-03-30 09:00] gamaanderson commented on #135
- artview doesn't do in the file selection it self, this is pure Qt. Try the following script, if it present the same behaviur this is probably a conflict between Qt and your operation system. May be you have some color theme set up etc.

        from PyQt4 import  QtGui, QtCore
        app = QtGui.QApplication()
        QtGui.QFileDialog.getOpenFileName()
        app.exec_()
        exit()
    th

[2016-03-30 17:03] bdolan44 commented on #135
Ok...I'm not entirely sure what is going on because I tried to run the script but I think it failed?

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: arguments did not match any overloaded call:
  QApplication(list-of-str): not enough arguments
  QApplication(list-of-str, bool): not enough arguments
  QApplication(list-of-str, QApplication.Type): not enough argu

[2016-03-30 18:02] gamaanderson commented on #135
Well, if it is solved, so ok. The script error is my fault, it should be `app = QtGui.QApplication([])`.

[2016-03-30 18:24] bdolan44 commented on #135
Thanks for your help @gamaanderson! Must have been something specific to my machine. But I'm up and running again with artview.

[2016-03-30 23:09] nguy commented on #135
Good news! We'll look into these other things you brought up as well @bdolan44 . Would you be willing to create individual issues on the Github page when other issues come up in class? It's pretty exciting for us to hear that ARTview is being used for looking at data for a class.

[2016-03-31 07:43] gamaanderson opened #141 "Images of components"
Just one ideia: make for every component/plugin an image so we can put in the documentation. It is easy work, but someone gotta do it.

[2016-04-01 03:04] nguy commented on #141
Do you mean a screen shot of the plugin? Good idea.

[2016-04-01 10:08] gamaanderson commented on #141
yes.

[2016-04-01 19:23] bdolan44 commented on #135
@nguy Will do!

[2016-04-02 09:37] gamaanderson commented on #141
by the way we could also use images of the colormaps (or a code to create that images in real time).

[2016-04-02 17:42] gamaanderson commented on #126
FYI: I have started working on this.

[2016-04-02 19:34] jjhelmus commented on #141
The [jjhelmus/pyart_colormaps_and_limits](https://github.com/jjhelmus/pyart_colormaps_and_limits) repo has a figure with all the Py-ART colormaps and a script to create the image, feel free to re-use either.

[2016-04-02 20:26] gamaanderson commented on #141
that is great, thank you @jjhelmus

[2016-04-04 15:16] nguy commented on #126
I'm sorry for the delay. I'll look at it this week. I wanted to keep my ARTview at stable place for the presentation (today)!

[2016-04-12 14:50] gamaanderson commented on #114
so, adding a map, in special a topography map, shall happen using the `basemap` instance of the pyart `mapDisplay` class. Now is the question if we do this in the display or in a pluging. The first will implies an significant new part of the Display class and even a new **plot_.py** file, that I would like to avoid, the second implies making the display attribute, or an equivalent, shared and this

[2016-04-21 22:25] nguy commented on #114
So I've been thinking a lot about this. Given how slow the PyART RadarMapDisplay is, I don't think using this is a good idea. The slow speed stems from the basemap portion. I would prefer to create a map image that could be placed underneath the radar image. This way we wouldn't have to render the map every time anything was changed.

A caveat to this is that the user would have to be aware that t

[2016-04-21 22:27] nguy commented on #114
Thinking aloud: Maybe a plugin where one could select the Display to use and build a map. And then turn on/off said map by toggling check box. It may not be elegant, but it would do the trick?

[2016-04-21 22:29] nguy commented on #120
Following a comment in PR #142 adding separator lines in the Modes Menu could help in splitting into categories.

Also, I think we should add a separator line and move Close to the bottom in Files menu.

[2016-04-23 14:20] gamaanderson commented on #114
I did not knew RadarMapDisplay was slow, specially considering GridMapDisplay is ok.

[2016-04-25 14:43] nguy commented on #114
Well admittedly, slow is relative. It's fine for producing figures, but currently the map is generated each time the plot is called. So this makes using this from an operational standpoint (i.e. scrolling through files) not an optimal experience.

[2016-05-05 22:24] nguy commented on #139
Did we ever talk about addressing this?

[2016-05-05 22:25] nguy commented on #137
This was addressed in PR #142 . Is this okay to close?

[2016-05-05 22:25] gamaanderson commented on #139
no, just ignore it for now.

[2016-05-05 22:26] #126 closed

[2016-05-05 22:29] gamaanderson commented on #135
@bdolan44 PR #142 added a lock in colormap to avoid redefinition and also a new plugin for discret colormaps

[2016-05-05 22:31] nguy commented on #120
Okay, we didn't do this in #142 b/c I forgot about it. I propose the following separation under the Modes Menu:
[code]

[2016-05-05 22:32] nguy commented on #139
can do!

[2016-05-05 22:32] gamaanderson commented on #120
ok thank you, I will adress this sometime in the near future

[2016-05-05 22:33] nguy commented on #120
What are you working on next?

[2016-05-05 22:37] gamaanderson commented on #120
in my list there is the layout and the background map, but those are long time tasks.

[2016-05-05 22:44] nguy commented on #120
Okay great! Let me look at my task list again in the next couple of days and let you know what I'm going to work on.

[2016-05-06 13:57] stechma2 commented on #137
I would say so. Haven't gotten a chance to play with the new version yet, but it certainly looks like it will do the trick!

[2016-05-06 14:42] nguy commented on #137
Okay, great. I'm closing the issue for now as the discrete colorbar has been added. If you find problems or see an improvement, maybe you could open a new Issue for that?

[2016-05-06 14:42] #137 closed

[2016-05-17 22:37] nguy opened #145 "Vertical cross-section"
Create a vertical cross-section by adding a line to plot. Can use the existing index retrieval method in select region and then have the cross-section plot pop up in additional tab.

[2016-05-18 12:13] gamaanderson commented on #145
I agree with with the functionality, but I don't think we should use the the existing method, but rather just drawing the line in the axis and making the conversion from position in index to plot in a component for it self. This is mainly for performance and more flexibility. I already worked with cross section in an other software.

Should such a function of plotting a vertical section be make pa

[2016-05-19 15:52] jjhelmus commented on #145
I'd be open to including a method for extracting a vertical section from a radar volume to Py-ART.  Using a KD-Tree for gate lookup would be recommended.

[2016-05-19 16:24] swnesbitt commented on #145
Essentially, wouldn't this just require refactoring the pyart grid methodology, for cross sections with arbitrary cardinal direction orientations?  I suppose that great circle calculations would technically be appropriate, especially for longer cross sections.

[2016-05-19 17:14] jjhelmus commented on #145
@swnesbitt Yes, although I think it might be desired to do nearest neighbor interpolation instead of the weighted interpolation that the grid method currently uses.  Having a generic function in Py-ART which takes gates from one or more radars and a list of point and returns the fields values for those points using a weighted/nearest/k-nearest interpolator would be really useful in a number of cas

[2016-05-19 20:53] bdolan44 opened #146 "Keep user entered Nyqvist velocity"
We have found that when unfolding velocities, if you enter a Nyqvist velocity to unfold around, it is immediately reset to 0 as soon as you push a button to unfold, set up a boundary, etc. It would be great if the user entered value could remain. (This may only be a problem if the Nyqvist velocity is not in the radar file.)

[2016-05-19 22:54] bdolan44 opened #147 "Forward / back arrows lose all unsaved changed"
The other feedback I got about artview was that if you are unfolding a volume and you accidentally click the forward / back arrows (instead of up/down to go up in elevation), you lose any unsaved unfolding or editing that you've done. Kinda reminiscent of when solo would randomly crash with bus errors...but anyway. I know this is a challenge, but maybe even something like a prompt if you are in th

[2016-05-20 15:24] nguy commented on #145
@gamaanderson @jjhelmus I've been working on a KD-Tree for another application and I agree that this probably would be a good implementation, especially for a polar coordinate data space. I'm finding that the KD-Tree can take a long time to build, just as a heads up (or I'm just messing up the programming).

Let's discuss implementation a little more. Building this in Py-ART and then calling in AR

[2016-05-20 15:31] nguy commented on #146
Thanks @bdolan44 we'll look into this. @gamaanderson can you take a look or do you want me to? I would guess it would be just retrieving the entered value and caching it in a class variable?

[2016-05-20 15:34] jjhelmus commented on #145
I'd put it in the `pyart/map` directory for the time being.  Once the details get fleshed out it may get moved but that seems reasonable for now.

[2016-05-20 15:37] gamaanderson commented on #145
So here we are again: good vs fast. A reformulation of the current `map_to_grid` or `map_gates_to_grid` should do a nice work. This would be fast enought if you follow the principe of drawing a line and then pressing a button for drawing. But not fast enought if you want to make the drawing in real time (while drawing), this is not only something that would look nice, but also the fast response cr

[2016-05-20 15:39] gamaanderson commented on #146
yes, the trick is to know when to use the variable and when to reset

[2016-05-20 15:40] nguy commented on #147
I knew this was going to an issue that came up. There are a couple of different ways to handle this potentially. We need to decide what kind of direction would be best moving forward.

@gamaanderson the way I see it we have the following options. Feel free to suggest other options.

1. Have the tool save changes and not be reset by a change in a shared variable. This might suggest making some of t

[2016-05-20 15:45] nguy commented on #146
When the button is clicked to perform the operation, then we could grab the values entered and update?

[2016-05-20 15:47] gamaanderson commented on #147
your first point make sence if you want to preserve something like a select region. I'm not sure how to handle this, but the comment was about edits. In this case I would just add to the radar a modified=True attribute and when changing files popup if there are unsaved edits.

The use of a RadarCollection would not have this problem, since the files are not being closed. But this came at large cos

[2016-05-20 15:47] gamaanderson commented on #146
and file change / field change?

[2016-05-20 15:54] nguy commented on #147
I like that idea, a check to save for the user. I do think that we could have "recall" on the plugins to use the the last state of usage. It would go away with restarting the program, but would stick around if the user went to the next file and then wanted to say select the same region as previous file.

I agree about the RadarCollection. This has been the sticking point with that idea, the cost o

[2016-05-20 15:55] nguy commented on #146
yep, I think we did this in something recently. Trying to remember which tool...

[2016-05-20 21:20] bdolan44 opened #148 "Manual filter - filter gates in radar stops working after a while"
After editing and unfolding a number of volumes, the "Manual Filter -Filter Gates in radar" button stops working. The fix is to exit out of Artview and restart.

[2016-05-21 07:14] gamaanderson commented on #148
is there any error mensage in the terminal?. Have you tried reseting the select region?

[2016-05-24 22:11] nguy commented on #147
Addressed in PR #149

[2016-05-24 22:11] #147 closed

[2016-05-24 22:11] nguy commented on #146
Addressed in PR #149

[2016-05-24 22:11] #146 closed

[2016-05-24 22:21] bdolan44 commented on #148
We will get back to you on this....trying to reproduce the problem so we can give more specific details. However, resetting the select region does not fix the problem.

[2016-05-24 22:25] nguy commented on #148
Can you also not download the latest updated until you get more info and try the same steps after updating your code base? This might help rule things out, or not.
Thanks!

[2016-05-31 20:50] bdolan44 commented on #148
Ok. I think we have not updated the latest. When this error occurs, this is what it says in the terminal:
File "/usr/local64/python-2.7/anaconda/lib/python2.7/site-packages/artview/components/tools.py", line 300, in onZoom
   relx = (cur_xlim[1] - xdata)/(cur_xlim[1] - cur_xlim[0])
TypeError: unsupported operand type(s) for -: 'float' and 'NoneType'

[2016-05-31 21:09] gamaanderson commented on #148
So, I would guess that xdata is None. I'm not really sure what caused that, but I would test for it and quit the `onZoom` function

[2016-06-02 08:14] gamaanderson commented on #148
So that error is created when the one try to zoom outside the picture, we should fix that, but I don't thing this is the bug here. So apparent it is not showing any error, that make things difficult.
One thing I have notice while trying to replicate is that if the selected region has to much components it gets slower and the program stop responding until it is done creating the Points. But after t

[2016-06-02 14:54] nguy commented on #148
I've noticed the same behavior in the past, but I'm not sure how to fix that. Nice video tutorial.

I wonder if we could simply raise an Exception on a None return?

[2016-06-02 15:46] nguy commented on #148
@bdolan44 Could you pull the latest changes and ensure they work for you as well.
We'll have to look at the select region code again to see if it can be optimized. If you can recreate the problem, could you select *Reset Tools* from the Toolbox menu on the Display to see if this clears the problem?

[2016-06-07 15:09] bdolan44 commented on #148
She was able to recreate the problem again and Reset Tools did not seem to fix the problem.

[2016-06-07 21:18] gamaanderson commented on #148
I could not recreate it, without more information there is not much I can do. I would need as much information as possible, really everything.

[2016-06-08 04:05] nguy commented on #148
Dang! We'll keep looking.

[2016-06-19 17:04] gamaanderson opened #152 "Despeckle"
I believe [this](http://arm-doe.github.io/pyart-docs-travis/user_reference/generated/pyart.correct.despeckle_field.html#pyart.correct.despeckle_field) to be an important new addition to pyart and would like see it implement to artview. I'm kind of full for the next mouths, so if any one wants to give a try just let me know.

[2016-06-27 21:14] nguy commented on #111
For some reason this issue has seemed to stop recently (I watched a user install from scratch and it worked!).  I still suspect that this was something to do with Anaconda, though I was never able to track this down. If we fixed it, that was accidental after trying many things.
So closing for now and we can reopen if it comes back up.

[2016-06-27 21:14] #111 closed

[2016-07-06 19:14] gamaanderson opened #153 "Egde option"
add grafical interface of the `edge` option of the radar plot methods.

[2016-07-06 20:25] nguy commented on #153
I am working on this one now. I just need a file to test and then I'll create a PR for inspection.

[2016-07-06 20:59] nguy commented on #153
Will you take a look at PR#154?

I didn't add the code to the plot_grid. I think it should work the same, though. Correct?

[2016-07-06 21:17] gamaanderson commented on #153
yes, it could work just the same in plot_grid, this is however not much of a problem in the grid as it don't have the closing of azimuth problem.
I actually don't fully understand what it is the underling pyart error that create that problem, but if `edge=False` solves the problem, I'm fine with it.

[2016-07-06 21:26] nguy commented on #153
I believe it has to do with the interpolation that pyart performs to extract the edge from the gate center information. If there is wonky data then the interpolation gets a weird value. Is this correct @jjhelmus ?

[2016-07-06 21:31] gamaanderson commented on #153
for reference the original source of this issue: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/artview-users/7gSpxa6_POM/MkRQGPwaBAAJ

[2016-07-07 09:33] gamaanderson opened #155 "Load time"
as any graphical program artview takes some time to load, but it is kind to annoying me. We should check if there is no unnecessary loading or if there are things we can load just when we need it.

We could add some profiling to generate statistics of which functions are taking to much time. As we work on python it is important to optimise it once in while.

[2016-07-07 15:16] nguy commented on #155
I agree completely. We indirectly employ Py-ART lazy dictionary loading, but maybe we could do this more extensively with the internal code.

We should also expand the testing....

[2016-07-07 20:11] jjhelmus commented on #153
The range, azimuth and elevation data stored in Py-ART's Radar class refers to the center of the range bin. If this is always set correctly is another question but typically even if the gates locations are specified differently it makes little perceivable difference.  Therefore for each gate we need to calculate the locations of the "edges" of  quadrilateral which will be have a center at the gate

[2016-07-07 20:21] nguy commented on #153
Thanks for the explanation @jjhelmus.

[2016-07-07 20:47] nguy commented on #153
Issue closed in PR #154

[2016-07-07 20:47] #153 closed

[2016-07-17 10:08] gamaanderson commented on #114
Developing the possibility of using map display and add a background based in a file. Here is an image
![](https://cloud.githubusercontent.com/assets/7915525/16899987/757fbda8-4c16-11e6-9fb3-a5d376534751.png)
The resolution is a bad because the file I'm using is a global 0.1 deg. To improve that one would need to go after better data and put in a similar format. The reason I'm using this file is b

[2016-07-23 11:46] gamaanderson commented on #155
in my system with empty cache it takes 17s to load pyart and just around 1.5s to the rest of artview. So we can not do much.

from those 17s, around 7s are just to load basemap. What about a lazy loading there @jjhelmus?

[2016-07-23 14:35] jjhelmus commented on #155
@gamaanderson Can you be more specific in what you mean by "loading".  Are you looking at the time it takes to `import pyart` or to generate a figure.  The former should not take 17 seconds, that later might if you are using basemap which can be quite slow.

[2016-07-23 15:05] gamaanderson commented on #155
I mean import, it does take so much, but for that I must empty the RAM cache. subsequent runs are faster.

[2016-08-02 18:05] bdolan44 commented on #148
We are still encountering this (occasionally). My student states: "I tried restarting Artview, clicking reset tools under toolbox, resetting my polygon, etc. etc., still won't filter out bad data. I'm not outside of the parts where I should be able to do this, either.  Here's the error I'm getting:

Traceback (most recent call last):
 File "/usr/local64/python-2.7/anaconda/lib/python2.7/site-packa

[2016-08-02 23:03] gamaanderson commented on #148
this error looks a little more helpful than before, at least it is in the part of the code it should be. I will give it one more look.

[2016-08-04 19:30] gamaanderson commented on #148
So, this appear to be a problem of the some what confusing / not well documented way numpy handle masked arrays. PR #160 may improve, but I'm not 100% sure.

One extra thing that I could do: this error is in a loop of fields, so we could add a `try:` there and if the error persist the function would still work in some fields. That however would create a silent error, so I'm not sure if it should b

[2016-08-04 21:14] nguy commented on #152
Closed since @gamaanderson implemented.

[2016-08-04 21:14] #152 closed

[2016-08-05 16:49] nguy commented on #148
@bdolan44 I just accepted this fix from @gamaanderson
Can you download the latest code base and test also?

[2016-08-07 15:00] gamaanderson commented on #114
should I check this as done in issue #135?

[2016-08-08 16:03] nguy commented on #114
I think so. Anything further would be an update.

[2016-08-08 18:04] bdolan44 commented on #148
We will try it out and report back.

[2016-09-06 13:59] gamaanderson opened #163 "New Layout"
Unfortunate despite the holidays I have not been able to spend much time with artview. Nevertheless, I have worked forward in the new layout. I have changed several components to make them more compact, so they fit better in the dynamic layout. Those are present in my branch [layout](https://github.com/gamaanderson/artview/tree/layout) when using the layout script

[code]

I have still not introdu

[2016-09-15 20:13] nguy commented on #163
Sorry, I'm now surfacing for air. I'd be happy to take a look at this. I wonder if we should take the layout slow and make this the v1.4 release? I think that v1.3 will have plenty to warrant the release in the somewhat near future.

I'm working on the add text, but it was a little more difficult than I imagined. I hope to have that PR submitted in the next week or so time frame for your scrutiny.

[2016-09-15 20:15] gamaanderson commented on #163
ok, if you want to upload what you have no the text stuff I may take a look. Where are you having problems?

[2016-09-15 20:50] nguy commented on #163
It was with the structure more than anything and then I realized that it needed access to the display. I think I'm getting a solution in place, but also trying to give the option of retaining some information if desired.

[2016-10-01 12:59] gamaanderson opened #164 "Field calculation"
I had an idea of how to use python magic to allow calculation and display of fields in a easy and intuitive way. something like:

[code]

 Just wanted to register it here so I don't forget.

[2016-10-04 13:25] nguy commented on #164
Interesting idea!

[2016-10-09 15:55] nguy commented on #163
I finally got this working (i.e. had the time to get something finished). Check out PR #165 and leave some comments if you would.

[2016-10-11 14:23] nguy opened #166 "Tilt information update"
When the tilt is changed (up-down arrows or selection), the title with tilt information does not get updated. If a different field is selected, the information is updated.

[2016-10-22 16:59] gamaanderson commented on #164
I have it here [https://github.com/gamaanderson/artview/tree/radar_terminal]

I made a small (sound less video) to show the idea
https://www.youtube.com/watch?v=jXVg3g8cnck

[2016-11-07 21:37] pfhein opened #168 "PyQt5"
The latest version of Anaconda Python 2.7 installs PyQt5 not PyQt4.  I just ran across this helping a student install artview on their Mac laptop.  It installs but then it can not find PyQt4.  Changing the 4 to 5 unfortunately did not work.  Here is the error when importing PyQt5 instead of PyQt4.
<img width="493" alt="screen shot 2016-11-07 at 2 23 28 pm" src="https://cloud.githubusercontent.com/

[2016-11-08 09:16] gamaanderson commented on #168
I have recently faced the same problem.
My [master branch](https://github.com/gamaanderson/artview) is changed to support PyQt5, I'm not totally sure however how stable it is, would recommend nevertheless.

Merging this in the main project is problematic because of the extensive module re-structuration from PyQt4 to PyQt5. While we are working on this, I would suggest opening a branch PyQt5 in @ng

[2016-11-08 17:42] pfhein commented on #168
Thank you @gamaanderson!  This was a big surprise to me.  I am glad that you are on top of it.

[2016-11-09 01:37] pfhein commented on #168
@gamaanderson - Unfortunately there are still issues.  I have not had chance to take a close look at it but here is error messages.
<img width="673" alt="screen shot 2016-11-08 at 3 45 18 pm" src="https://cloud.githubusercontent.com/assets/11464779/20124253/5c3da8ac-a5e2-11e6-830d-724aa6c51c91.png">

[2016-11-09 07:49] gamaanderson commented on #168
It does not seems you have the correct files.
This should be the (line)[https://github.com/gamaanderson/artview/blob/master/artview/core/core.py#L208]. Please try to make a plane new install

[2016-11-09 16:20] pfhein commented on #168
I had grabbed the zip file, so maybe that was a problem, and I did not clean out the old install.  I will try again.

[2016-11-15 06:39] nguy commented on #164
That is pretty neat and seems like it could be relatively easy to implement?

[2016-11-15 06:44] nguy commented on #168
I recently ran into this when I changed jobs and was setting my computer up.

Another work around is to downgrade your PyQt to PyQt4.
You can get a list of packages: `conda search pyqt`
And then use the info to install a version 4 distribution: `conda install pyqt=4.11.4`

I think this should work, but as @gamaanderson mentioned, we'll have to make the move eventually.

[2016-11-15 08:42] gamaanderson commented on #164
it use pretty depp [python magic](https://docs.python.org/2/reference/datamodel.html#special-method-names), but it is easy. The only thing I don't like is that we still depend on the system terminal, emulating one is more complicated.

[2016-11-16 06:30] nguy commented on #164
I agree it's not perfect, but better than nothing for the time being. I guess the argument could be made either way: If the tools are in place, porting may be simpler OR if we get too many tools in place, then porting is going to be a pain. Hmmm.

[2016-11-22 06:03] nguy commented on #168
@pfhein @gamaanderson Where are we at on this issue?

[2016-11-22 11:49] gamaanderson commented on #168
If I got the time, tomorow I will make a PR. This will be a high conflict PR, so if you have anything not publish you should present it, so I can solve any conflicts.

[2016-11-22 14:11] nguy commented on #168
Okay, there is a PR implementing the small fix you pulled back and a lot of small pep8 maintenance. If you could just breeze through quick and verify, that would be great. I can then hold off any more changes until you address this issue. In the meantime, I'll try to start commenting on some posts to get an idea of what we should work on next.

[2016-11-22 21:15] gamaanderson commented on #163
I have continue working on this, I think it is pretty good. I have however abandoned the ideia of a soft introduction. In a small community there is no one trying to explore/ get used with optional configurations. People will just work with it where it become standard, so should just do it when we think it is ready.

[2016-11-23 04:33] nguy commented on #166
Fixed in PR #170

[2016-11-23 04:33] #166 closed

[2016-11-23 04:36] nguy commented on #163
Yeah, let's take a look at it. Worst case scenario is we can roll back. But I bet it will be a vast improvement. Everything on my end is merged for now. I pulled that last bit in tonight.

[2016-11-23 22:15] gamaanderson commented on #168
implemented in PR #171

[2016-12-06 06:18] nguy opened #172 "Bug fixes"
In testing the last few updates I've identified a few things that I think need to be fixed:
[ ] Change the ManualFilter name to ManualEdit. I believe this is the nomenclature most people know.
[ ] When the region select is turned off, the lines continue to display on plot. When any Mode or Plugin that uses the region selection tool is closed. Remove lines from the plot and redraw the plot.
[ ] Upd

[2016-12-06 14:58] gamaanderson commented on #172
the first is easy, the third I don't know what else you want there.
The second one is not that clear, since region select is a plugin it self. Nevertheless to make clean up one can re-implement the [close event](http://pyqt.sourceforge.net/Docs/PyQt4/qwidget.html#closeEvent)

[2016-12-07 06:12] nguy commented on #172
What you did will certainly work.
I think we may want to re-institute, but I'm not sure quite how yet.

[2016-12-19 14:33] gamaanderson opened #173 "correlation analisis"
add display to analyse correlation between moments

[2017-01-16 21:24] gamaanderson commented on #163
just pushed a new commit in the branch, separating the open and the save menu. I thought the symbol could lead to confusion.

I would consider this to the be next PR, I do believe the new layout to be an improvement and I will allow us the design the appearance and the menus bars without losing coding independence. With this we will finally overcome the limitations I have (on purpose) added in the

[2017-01-16 21:26] gamaanderson commented on #163
If there is something you believe to be wrong, make a print screen. Remember there may be differences between  different operating systems.

[2017-01-16 23:39] nguy commented on #163
If you have code already prepped for PR #164  and #173 I'd prefer to merge those first and then iterate on layout. But I'm open to trying to get the layout first. Your call.

[2017-01-17 05:06] nguy opened #174 "MacOSX and PyQt5 don't work together"
With PR #171 PyQt5 support was added. However, a known bug is that MacOSX and PyQt5 are unstable. PyQt4 is the default and will be used if both versions exist. In addition, PyQt can be downgraded to version 4 to make this work.

This is a note to keep this problem known and will close when a more substantial fix is found.

[2017-01-17 05:07] nguy commented on #168
Can this topic be closed?
I've opened another issue #174 to address the lingering problem with Qt5 compatibility.

[2017-01-17 15:49] pfhein commented on #168
Yes, it can be closed.  I will do it.

[2017-01-17 15:49] #168 closed

[2017-01-18 03:30] nguy commented on #168
@pfhein I'd love to hear any issues you run across. Make sure PyQt4 is available on machines.

[2017-01-23 14:51] gamaanderson commented on #173
as a result of PR #176 following tasks remain:

"It would be really useful to have controls on the data plot. Including scatter marker type, color, size, and maybe by default remove the edgecolor."

expand the correlation to a more general analysis tool, including support for points and grids (in the form of a switch)

[2017-01-26 22:08] pfhein opened #178 "Unfolding stops at 0"
I have seen a case where the unfolding/deliasing stops at zero velocity.  The velocity is large enough that is wraps around and goes past the 0m/s mark. but the unfolding does not catch it.

[2017-01-27 07:12] gamaanderson commented on #178
isn't this a pyart issue?

for reference the desiasing is done either with:
    pyart.correct.dealias_region_based(radar, gatefilter)
    pyart.correct.dealias_unwrap_phase(radar, gatefilter)
depending on which plugin you are using

if you are talking about the manual unfold, such a case can not be corrected with that simple of an algorithm, I recommend using the pyart methods before.

[2017-01-27 17:39] pfhein commented on #178
No, This is manual unfolding/deliasing so not the automatic dealiasing of pyart.  Thinking about this, I wonder that it might not be possible to cross the 0 line since that would make it harder to distinguish between those points that do not need to be dealiased and those points that do.  (If you are really careful selecting the boundary you can do it.)

Here are two plots.  One before the dealias

[2017-01-27 18:44] gamaanderson commented on #178
I'm not really sure how we can solve this, since as you said the zero line is what is being used to separate what need dealing and what does not. We could allow the user to change this threshold value, but I'm not sure about that. We could also add a component to do a linear transformation in a selected region + gatefilter, that would probably be much more difficult to work with, but gives you ful

[2017-01-27 18:46] gamaanderson commented on #178
by the way @pfhein I'm planning to be presenting ARTView in the AMS's 38th Conference, on august. If you have any thoughts I would be glad to hear, send me an e-mail.

[2017-01-29 13:39] gamaanderson commented on #173
pushed some new commits to my correlation branch that add a "set parameter" option to menu, which open the following window
![edge2](https://cloud.githubusercontent.com/assets/7915525/22404408/b958fb0c-e630-11e6-9248-32385bc1371a.png)

[2017-01-29 13:43] gamaanderson commented on #173
I have a question about the sweeps menu (show below). This is the only place the correlation uses the fact that it is a radar, is this a important functionality? I would say yes, but I would like an other opinion
![edge1](https://cloud.githubusercontent.com/assets/7915525/22404435/4770e3c8-e631-11e6-8b52-bc2b357b078a.png)
.

[2017-01-29 15:53] gamaanderson commented on #172
should we add addressing this as a requirement to version 1.3?

[2017-01-29 15:53] gamaanderson commented on #164
this was closed by PR #175

[2017-01-29 15:53] #164 closed

[2017-01-29 15:54] #139 closed

[2017-01-29 15:54] gamaanderson commented on #122
can this be closed?

[2017-01-29 15:54] gamaanderson commented on #120
can this be closed?

[2017-01-29 15:54] gamaanderson commented on #114
can this be closed?

[2017-01-29 15:54] gamaanderson commented on #107
@nguy please review the items on the top of this discussion for what was already addressed and what should still be done.

[2017-01-29 15:55] gamaanderson commented on #98
UPDATE: PR #177 should do an improvement on this, but no movement is being made to accommodate really small screens. This would mean changing to a more app like format, I don't think this is desirable right now.

[2017-01-29 16:01] gamaanderson commented on #29
Version 1.3 is getting closer, so we will need to review the docs. Also new tutorial are important. I know my voice is not the best so it would be really nice if someone would do the tutorial. It is certainly a lot of work and would be perfect for some one that want to help but don't want or don't know how to get in the code. I would certainly add such a person as author in the presentation at the

[2017-01-29 16:33] gamaanderson commented on #135
We are mostly done with code part for version 1.3, there is just a discussion to do about the layout. There is however a lot a work to be done in explaining all that is new. So it may take a while to launch, but it is coming.

[2017-01-29 16:35] gamaanderson commented on #135
by the way @bdolan44 you comment about the select region kind of felt out of the radar (hihi), but I just addressed it now. It was actually pretty easy, I love when good programming decision in the past pay out in the present.

[2017-02-03 05:39] nguy commented on #172
Definitely the first two items, they should be easy fixes. The 3rd item I think we should put in the same list as the last two PRs that gave structure and will get refinement. We could start a separate issue for post v1.3?

[2017-02-03 05:41] nguy commented on #122
Yep.

[2017-02-03 05:41] #122 closed

[2017-02-03 05:43] nguy commented on #114
Yes, I'd like to reopen this in the future when there is a feasible option. Currently I don't believe there is a robust way of doing this.

[2017-02-03 05:43] #114 closed

[2017-02-03 05:45] nguy commented on #98
I agree. Small screens-focused app format is beyond the scope now.

[2017-02-03 05:46] nguy commented on #120
Yes

[2017-02-03 05:46] #120 closed

[2017-02-03 06:02] nguy commented on #107
A few items off the list, a couple outstanding. I'll add any of these that need to be complete to the other list you created. But I'm not sure if any of this is super important. The radarcollection was partially implemented and I need to get a hold on that code.

[2017-02-03 06:04] nguy commented on #29
Good idea. I'll try to do some as well. I'll try to go through the code and update docstrings, etc. before doing a doc build as a final bit before release.

[2017-02-10 20:19] gamaanderson opened #180 "Small Display"
under splitted panes the display gets to small to be useful.
Improvement suggestions include:
 * remove colorbar
 * improve matplotlib usable area
 * remove buttons

[2017-02-17 05:00] nguy opened #181 "Combine Display and Modes SelectRegions"
I think we should try to combine these two feature into a single code base or at least call the same underlying code so that they do not diverge. Also I think the following should be addressed:

1. When a new polygon is selected, open tables/graphs should automatically update
2. Add the stats/tables/plot option to the Manual filter. I think this would be useful when editing data in this way.
3. Me

[2017-02-25 13:26] gamaanderson opened #182 "Components vs Plugins"
Is the separation between components and plugins still relevant? Does it make sense in the way it is implemented today? Should we reorganize it?

[2017-03-10 16:50] gamaanderson commented on #172
commit https://github.com/gamaanderson/artview/commit/ca01c80d24378f41e43100df9d7fc4385552ccda address this issue

[2017-03-12 10:48] gamaanderson commented on #181
try to address that in branch https://github.com/gamaanderson/artview/tree/issue181

[2017-03-12 11:06] gamaanderson opened #183 "Tutorial Version 1.3"
We are almost there with version 1.3. However we have not touch the tutorial part. I have just gave a look on the youtube statistic, the videos are actually being watch. Not completely and not that much, as expected, but something. May be we could make written tutorial and just put small clips as illustrations

List of tutorial we could do:
- new layout
- radar terminal
-  discrete colorbar
- text

[2017-03-14 05:54] nguy commented on #182
I agree that it no longer seems to make sense to have the separation. I'm fine with changing this either now or in the future.

[2017-03-14 22:00] swnesbitt opened #184 "Metadata not updating in plot"
I'm perusing some NPOL RHI volumes, and the titles of the plot are not updating with the correct information when I change sweeps.  Note inconsistency between drop down and titles.

Data plot itself seems to update when I select a new sweep.

<img width="762" alt="screen shot 2017-03-14 at 5 55 10 pm" src="https://cloud.githubusercontent.com/assets/3288592/23924158/f219790e-08df-11e7-972e-00aa91d2

[2017-03-14 22:26] gamaanderson commented on #184
@swnesbitt thank you for reporting this.
This should not happen, so I will have to take a better look. If you know how to use pyart, could you give use what [pyart.graph.common.generate_title](http://arm-doe.github.io/pyart-docs-travis/dev_reference/generated/pyart.graph.common.generate_title.html#pyart.graph.common.generate_title)  returns. We take the title from there.
In the mean while you can

[2017-03-16 18:10] gamaanderson commented on #184
I could not replicate this. What version are you using?

[2017-03-23 03:41] nguy commented on #184
@swnesbitt Can you check two things:
1. Is the title updating when you select different tilts( just not updating the text)?
2. This looks like RHI data. Are the tilts actually azimuths that the data is along? Could the reader underneath be doing something funky translating the data?

[2017-03-24 03:44] nguy opened #190 "Improved image text instances"
While the image text is working, I feel like it could use a little more work (especially the `_check_entries` method) to make it more robust. I'll include further details at a later time.

This Issue is removed from Issue #172 as the first two were addressed in PR #187.

[2017-03-24 03:44] #172 closed

[2017-03-24 04:44] nguy commented on #182
Come to think of it, I believe we should change this within the next couple of months to have testing time and a clean repo for the August short course.

[2017-03-24 04:45] nguy commented on #181
I believe this can be closed also?

[2017-03-24 04:48] nguy commented on #155
I did some profiling the other night. The pyart import remains somewhat slow, but I also noted that PyQt was loading very slowly it seemed. I don't have extensive evidence yet, but this is something to keep in mind and test in the future.

[2017-03-24 07:32] gamaanderson commented on #182
yes, before release 1.3

[2017-03-25 17:33] nguy commented on #180
Is this fully done now?

[2017-04-05 04:48] nguy opened #192 "Installation problem"
I sat with someone trying to install ARTview the other day. It did not go smoothly. It was on a MacOSX 10.11, anaconda distribution.

Using the base anaconda install, the PyQt v5 caused many issues. In addition, some netcdf libraries could not be found properly until hdf4 was installed. However, there were way to many conflicts to alleviate in a timely manner. Unfortunately, the matpolotlib 2.0 in

[2017-04-05 07:59] gamaanderson commented on #181
closed by PR #186

[2017-04-06 10:57] gamaanderson commented on #173
closing as this has been merged by PR #188

[2017-04-06 10:57] #173 closed

[2017-04-06 11:01] gamaanderson commented on #180
Although this is not 100%, I dont see anything coming soon on this point, so I'm closing.

[2017-04-06 11:01] #180 closed

[2017-04-06 11:02] gamaanderson commented on #163
Merged

[2017-04-06 11:02] #163 closed

[2017-04-11 15:13] nguy opened #193 "Background Map not working now"
I recently tested the map background module. I get the following error:

[code]

Here's the package environment:
[code]

It appears that pyproj has been deprecated. That said, this gives us the opportunity to switch to cartopy which I feel is now more robust and gaining a larger user base.
This should either be disabled for v1.3 or fixed. And switch to cartopy for v1.4

[2017-04-16 09:14] gamaanderson opened #196 "Documentation"
I think it is clear that the (html documentation)[https://rawgit.com/nguy/ARTview/master/docs/build/html/index.html] in its current form is not working for us. It take way to much effort to maintain a documentation of lib and I don't think anyone is really using it (one of reasons why I dont put time on it).

I wounder if there is a solution to this.

[2017-04-18 05:38] nguy commented on #196
I've been thinking the same thing and have been looking at alternatives, but not much is jumping out so far.

[2017-05-06 16:47] gamaanderson opened #197 "run over database"
we could create an component to run over database and search for radar from date and time.

This would work as an example of what can be done, as it is user dependent. @CesarBeneti @TulipaSilva any interest?

[2017-05-06 16:50] gamaanderson opened #198 "background and localisation"
in my talk with beneti the issue of background and other localization tools (point to city) were mention as an absolute necessity to operational use.

[2017-05-25 22:37] nguy commented on #197
Not really a database, but I have automated code that goes out to the NOAA AWS bucket and retrieves Level 2 data. I have hesitated putting this in due to adding more dependencies. But I will likely try prior to the radar conference as it should be straightforward. (Though I'd like to get v1.3 released first!)

It probably depends upon what type of database you want to query. You'll likely need som

[2017-05-26 06:05] gamaanderson commented on #197
I don't want it to be necessary a fix part of artview, I manly want an example to show off and can be adapted to the specific needs o users.

[2017-06-29 14:25] nguy commented on #135
Is the top list still up to date? My thinking is that we should kick the Collection item to v1.4 down the road and work on getting the package released for August.

So as I see it we need to
[ ] Update Documentation
[ ] Final code check
[ ] Update README if necessary
[ ] Create a conda release

Anything else?

[2017-06-29 14:27] nguy commented on #184
Wondering if this was still an issue?

[2017-06-29 15:00] swnesbitt commented on #184
Seems to be working when I pulled the repository this morning.

-Steve

On Thu, Jun 29, 2017 at 9:27 AM Nick Guy <notifications@github.com> wrote:

--
Steve Nesbitt, Associate Professor
Department of Atmospheric Sciences, University of Illinois at
Urbana-Champaign
Room 3060 Natural History Building, 1301 West Green Street, MC-104, Urbana,
IL 61801 USA
voice : +1.217.244.3740  fax : +1.217.244.1752

[2017-06-29 16:45] gamaanderson commented on #135
as said I think we are out of time for the documentation, and I don't see it helping to many people in the way it is now. So by update documentation I pretty much only mean runing the make.

[2017-08-28 20:56] #184 closed

[2017-08-28 21:00] nguy commented on #148
@bdolan44 Did this get resolved?

[2017-08-28 21:07] #98 closed

[2017-08-28 21:11] nguy opened #201 "ADD FAQ to README"
First item is to say how to change background color through rc params. Issue #83

[2017-08-29 16:54] nguy commented on #135
This will be closed as PR #202 was merged. A new Issue tracker for v1.4 will be opened.

[2017-08-29 17:05] nguy opened #203 "Discussion: version 1.4"
Version 1.3 has been released. We are modifying our workflow moving forward in the following way. There is a now a [v1.4 branch](https://github.com/nguy/artview/tree/v1.4-dev) that should be used for updating code and pushing changes moving toward version 1.4 release. This will allow the master to maintain a stable v1.3 release.

The following is a list of ideas to implement for v1.4:
- [ ] Connec

[2017-08-30 00:13] gamaanderson opened #204 "modes"
starting a new mode involve a lot o uncessary computations because of the reconection of variables. This needs improvement

[2017-08-30 00:45] gamaanderson opened #205 "version 1.3.8"
version 1.3 will need a new release to correct some bugs in the case of missing Basemap. I already have a sugestion on gamaanderson/artview/v1.3.8

[2017-08-31 21:32] nguy opened #207 "Log scale colorbar"
We need to test that there are no negative values before performing log-scale transform. Otherwise the program crashes.

[2017-10-18 15:56] fernandomhahne opened #208 "Problems with pyQt4"
I have installed artview through Anaconda on Debian, but when I try to run it, I get the following error:

[code]

I tried to install pyqt4 (pyqt5 is already installed) with:

[code]

but I get:

[code]

When I run the test `tests/qt.py` I get the following error:

[code]

Someone knows how to fix it?

[2017-10-18 16:19] gamaanderson commented on #208
I would suggest using the newest version (1.3) which is PyQt5 compatible. There is no conda package for it, so you will have to download from here and install manually (it should be really simple).

[2017-10-18 16:28] fernandomhahne commented on #208
It worked. Thanks!

[2017-10-18 16:28] #208 closed

[2019-02-12 23:33] njmessina opened #209 "Dumb installation question"
Hi there... do I need to have pyart already installed before installing artview using your conda channel?  I just installed Anaconda, then typed:
conda install -c jjhelmus artview
.... it's taking a very long time...
thank you...
joe

[2019-02-13 00:22] gamaanderson commented on #209
If I am not mistaken, conda will try to install the dependences, that mean
it will install PyArt and its dependences. That should in fact take some
time. How long is it taking?
That is however not my field of expertise, I hope Nick can give more
information on that.

Cheers
Anderson

On Wed, Feb 13, 2019 at 12:33 AM njmessina <notifications@github.com> wrote:

[2019-02-13 00:52] njmessina commented on #209
Thanks…
I just tried installing arm_pyart on a brand new Anaconda installation.  It causes Spyder to quit working and I can’t figure out why.

Macs-MacBook-Air:bin joe$ spyder
/Users/joe/anaconda3/bin/pythonw: line 3: /Users/joe/anaconda3/python.app/Contents/MacOS/python: No such file or directory

It worked fine before I ran 'conda install -c conda-forge arm_pyart’.  Grrrrr.   Any advice would be

[2019-02-13 06:46] nguy commented on #209
Hi Joe,

First off for the long install. I think this is something going on with the conda channels. Conda is what is called a package manager and will search for and install dependencies needed for the artview install for example. I've noticed the last couple of days that this has been really slow for me, taking up to 10 minutes for some installs. And the combination of artview and pyart does end

[2019-02-13 14:47] njmessina commented on #209
Hi Nick and Anderson,
I was able to fix the Spyder problem by doing a fresh install of Anaconda with Python 3.6, then installing arm_pyart.
However, when I went to install Artview (using the ‘conda’ install), it wiped out Python 3.6 and left me with Python 2.?.
I can use Artview on another machine here at work, so not a complete disaster.  Pyart and Spyder are more important for me, but I thought

[2019-04-23 07:11] bibraj opened #210 "Readme Typo error in install name artivew instead of artview"
In Readme document, typo error in conda install
conda install -c jjhelmus artivew

artivew is present instead of artview

[2019-04-24 15:16] nguy commented on #210
Hi @bibraj , I looked at the REAMDE and did not see this error. Are you talking about [this section](https://github.com/nguy/artview/blob/master/README.md#install)?

[2019-04-24 15:19] swnesbitt commented on #210
I've run into this here https://github.com/nguy/artview/blob/cf57fb7df40ab30662d16b47a61164a40a37706f/INSTALL.rst

[2019-04-24 15:23] bibraj commented on #210
Yes, it is in the install.rst

[2019-04-24 15:24] swnesbitt commented on #210
I created a pull request here #211

[2019-04-25 05:21] nguy commented on #210
Thanks for finding this @bibraj  and @swnesbitt, I've accepted the pull request.

[2019-04-25 05:21] #210 closed

[2019-05-06 11:57] AlbaraaKhayat opened #212 "MDV Filtered dBZ not being read"
The fields of an object from pyart.io.read_mdv(filename) contains only velocity but not reflectivity.
The output of print_mdv from the lrose/titan package show multiple fields:

These are the fields in the radar object from pyart.io.read_mdv:
{'velocity': {'_FillValue': -9999.0, 'coordinates': 'elevation azimuth range', 'long_name': 'Mean dopper velocity', 'standard_name': 'radial_velocity_of_scat

[2019-09-15 19:56] aschueth opened #213 "A working conda environment"
Hi,

I'm trying to install artview, but I continue running into issues with the dependencies. Namely, when I install from conda 'conda install -c jjhelmus artview', I get an unsatisfiable error, even with a clean environment. I've tried python 2.7, 3.4, 3.6, and installing packages first as well as installing artview first and packages later. Everytime, it fails to install artview.

I'm wondering

[2019-09-16 17:24] dopplershift commented on #213
It looks like the latest is available on the conda-forge channel as well.

[2019-09-16 21:14] aschueth commented on #213
Yes indeed, probably should've checked there first. Would it be worth adding to the README that the correct version should be from conda-forge instead of the jjhelmus channel?

[2019-09-17 07:03] gamaanderson commented on #213
Thank you for solving this. I made a pull request to update the README

[2019-09-18 03:03] nguy commented on #213
Thanks for the report @aschueth and the suggestion @dopplershift
@gamaanderson fixed this in a merge request that updated the README file

[2019-09-18 03:03] #213 closed

[2019-10-03 01:49] aschueth opened #215 "Conda-forge v:1.2 on linux, v:1.3.7 on mac"
I have another issue when it comes to installing artview on different platforms. I finally have a working environment on my mac, however when transferring a .yml file to linux it failed rather impressively. Installing package by package I noticed that the only versions of artview on conda-forge available for linux is 1.2. With 1.2 I am having pyqt issues and so I was hoping to upgrade to the worki

[2019-10-07 19:03] dopplershift commented on #215
It looks like the recipe for conda-forge has gotten a little...stale. Probably best to close this one and open over at: https://github.com/conda-forge/artview-feedstock

[2019-10-07 19:09] aschueth commented on #215
Ahh, didn't know how all that worked. I'll open it up over there and close this issue.

[2019-10-07 19:09] #215 closed, assigned to nobody

[2019-10-08 19:03] nguy commented on #215
@dopplershift "Stale" is very kind. I'm working on scoping some new work I hope in the new year. I'd like to bring this back to life more fully.

[2020-08-24 16:44] gamaanderson opened #216 "Artview not working in Matplotlib 3.2"
Just got the news that Artview is not working in Matplotlib 3.2, since there were some deprecations on how to import PyQt4 and PyQt5. I will soon suggest a solution, the recommended way of using PyQt seems to be

    from matplotlib.backends.qt_compat import QtCore, QtWidgets, is_pyqt5
    if is_pyqt5():
        from matplotlib.backends.backend_qt5agg import (
           FigureCanvas, NavigationTo

[2021-01-11 04:52] mustafaalicelik opened #218 "Add reading files auto"
I want to add a func to standart script, it will read the files from my radar file directory one by one auto with a specific time. I'm open for any suggestions.

[2021-01-11 09:39] gamaanderson commented on #218
It depends on what you mean by read the files. If you mean open them and story in memory, not sure if possible. There were some talks of implementing something like that, but I don't remember it being done, mainly because it would fill you memory pretty quickly.
If you mean to have those as a list of filename, so that you can switch quickly, then what you want is to load a navigator, as the main m

[2021-01-11 09:41] gamaanderson commented on #218
Please do not be afraid to ask  questions, I will gladly help, I may just need some time to answer if I need to start writing and testing code.

[2021-01-11 11:07] mustafaalicelik commented on #218
I sent you a mail, ill be glad if you can help.

[2021-01-13 15:41] mustafaalicelik opened #219 "AdvanceFileSelect not working"
This lines from "artview.components.menu.Menu" :

  def AdvanceFileSelect(self, findex):
        '''Captures a selection and open file.'''
        if findex > (len(self.Vfilelist.value)-1):
            msg = "End of directory, cannot advance!"
            common.ShowWarning(msg)
            findex = (len(self.Vfilelist.value) - 1)
            return
        if findex < 0:
            msg = "Beginn

[2021-01-13 21:20] gamaanderson commented on #219
what do you mean by not working? What exactly is happening?

[2021-01-14 03:58] mustafaalicelik commented on #219
Nothing, it advance to the second file from dir. No warning msg shown. But in the first file it shows the warning msg "Beginning of the directory, must move forward".

[2021-01-14 16:08] gamaanderson commented on #219
the "returns" are wrong, they should not be there --- and they have being wrong all the way. But this case should never be executed, since the buttons for it should not been enabled to begin with. I will eventually fix it, now that I got artview running in my new laptop.

[2021-01-14 16:30] mustafaalicelik commented on #219
When I open a random file from dir and using left key to open prev file, the "Beginning of the directory, must move forward" msg occurs. When I use right key to open next file, its opening the first file in directory. I think its not indexing the directory correctly. It should understand the first and the last file right after opening file from a directory.

[2021-01-14 16:51] gamaanderson commented on #219
in this case I presume there is an error in the filelist. Probably the same error we just talked about.

[2021-01-14 17:25] gamaanderson commented on #219
@nguy do you have a windows PC running artview? Could you test if moving from files within a directory is working?

[2021-01-18 04:56] #219 closed, assigned to nobody

[2021-03-23 13:19] mustafaalicelik commented on #193
Does Background map working correctly now?

[2021-03-23 13:46] gamaanderson commented on #193
It does not seem that we changed anything, but it was also not an error in our code, but in mpl_toolkits. Anyway I just tested, and it worked in my machine (a debian with python3), but it is far from being user-friendly. Write if you need further help in using it, I don't think there is anywhere explaining it.